#!/bin/bash
mkdir /opt/splunk && chown root.docker /opt/splunk && chmod g+rwx /opt/splunk && cd /opt/splunk
yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
yum install -y atop vim
systemctl enable atop; systemctl start atop

# Installing docker-compose
curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
chmod +x /usr/local/bin/docker-compose
ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose


set DOCKER_HOST=tcp://localhost:2375
export uuid=$(uuidgen)
echo "$uuid" > /opt/splunk/uuid.txt
export pass=$(docker run --rm -i caddy:2.0.0 caddy hash-password -plaintext $uuid)
echo "$pass" > /opt/splunk/pass.txt
echo "### Begin docker-compose.yml ###
version: '3.6'

volumes:
  splunk-var:
  splunk-etc:
  caddy_data:
  caddy_config:

services:
  splunk:
    image: splunk/splunk:8.2.2
    container_name: splunk
    environment:
      SPLUNK_START_ARGS: --accept-license
      SPLUNK_LICENSE_URI: Free
      SPLUNK_PASSWORD: $uuid
      SPLUNK_HTTP_ENABLESSL: 'True'
      SPLUNK_HTTP_ENABLESSL_CERT: /splunk.crt
      SPLUNK_HTTP_ENABLESSL_PRIVKEY: /splunk.key
    volumes:
      - splunk-var:/opt/splunk/var
      - splunk-etc:/opt/splunk/etc
      - ./splunk.crt:/splunk.crt
      - ./splunk.key:/splunk.key
    networks:
      default:
        aliases:
          - splunk
          - SplunkServerDefaultCert

  proxy:
    image: caddy:2.0.0
    command: caddy run --config /Caddyfile
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./Caddyfile:/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - ./splunk.crt:/splunk.crt
      - ./splunk.hec.crt:/splunk.hec.crt

### End docker-compose.yml ###
" > /opt/splunk/docker-compose.yml


echo "### Begin Caddyfile ###
splunk.${customer}.mumbai.internal.folium.cloud

@authenticated {
  expression !{path}.startsWith('/services')
}
basicauth @authenticated {
  admin $pass
}

reverse_proxy splunk:8000 {
  transport http {
    tls
    tls_trusted_ca_certs /splunk.crt
  }
}
reverse_proxy /services/collector* SplunkServerDefaultCert:8088 {
  transport http {
    tls
    tls_trusted_ca_certs /splunk.hec.crt
  }
}
### End Caddyfile ###
" > /opt/splunk/Caddyfile

openssl req -x509 -newkey rsa:4096 -keyout /opt/splunk/splunk.key -out /opt/splunk/splunk.crt -days 3650 -nodes -subj "/CN=splunk"
openssl req -x509 -newkey rsa:4096 -keyout /opt/splunk/splunk.hec.key -out /opt/splunk/splunk.hec.crt -days 3650 -nodes -subj "/CN=SplunkServerDefaultCert"
rm -f /opt/splunk/splunk.hec.key
# cp /opt/splunk/splunk.crt /opt/splunk/splunk.hec.crt
docker-compose up -d && docker-compose logs -f